@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais base (editáveis) */
html, body {
  /* Define a cor de texto padrão */
  @apply text-gray-900;
  /* Remove margens e preenchimentos padrão */
  margin: 0;
  padding: 0;
  /* Garante altura mínima sem bloquear a rolagem */
  min-height: 100vh;

  /* Aplica o novo gradiente pastel como fundo estático */
  background: hsla(313, 39%, 93%, 1); /* cor de fallback para navegadores antigos */
  background: linear-gradient(360deg, hsla(313, 39%, 93%, 1) 0%, hsla(320, 78%, 79%, 1) 50%, hsla(193, 81%, 84%, 1) 100%); /* padrão moderno */
  background: -moz-linear-gradient(360deg, hsla(313, 39%, 93%, 1) 0%, hsla(320, 78%, 79%, 1) 50%, hsla(193, 81%, 84%, 1) 100%); /* suporte para Firefox */
  background: -webkit-linear-gradient(360deg, hsla(313, 39%, 93%, 1) 0%, hsla(320, 78%, 79%, 1) 50%, hsla(193, 81%, 84%, 1) 100%); /* suporte para Chrome 10-25 e Safari 5.1-6 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F4E6F1", endColorstr="#F3A0D7", GradientType=1); /* suporte para Internet Explorer antigo */

  /* Impede rolagem horizontal mantendo a vertical */
  overflow-x: hidden;
  overflow-y: auto;
}
